.onebox-container {
  display: flex;
  height: 100%;
  background-color: #1f1f1f;
  color: white;
  background-size: cover;
}

.email-list {
  flex: 2;
  overflow-y: auto;
  padding: 20px;
  border-right: 1px solid #444;
}

.email-list h1 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

.email-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.email-item:hover {
  background-color: #2a2a2a;
}

.email-info {
  display: flex;
  justify-content: space-between;
  width: 200px;
  flex-direction: column;
}

.email-from {
  font-weight: bold;
  color: #a9a9a9;
}


.email-subject {
  font-size: 14px;
  color: #ccc;
}

.email-details {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.email-status {
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.email-status.interested {
  background-color: #4caf50; /* Green */
  color: white;
}

.email-status.closed {
  background-color: #f44336; /* Red */
  color: white;
}

.email-status.meeting-booked {
  background-color: #ffc107; /* Yellow */
  color: black;
}

.email-status.meeting-completed {
  background-color: #2196f3; /* Blue */
  color: white;
}

.email-campaign {
  font-size: 12px;
  color: #ddd;
}

.email-detail {
  flex: 3;
  padding: 20px;
  overflow-y: auto;
}

.email-detail h2 {
  margin-top: 0;
}

.reply-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.reply-button:hover {
  background-color: #0056b3;
}

.reply-email {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  max-width: 600px;
  margin: auto;
}

.reply-header {
  margin-bottom: 12px;
}

.reply-header label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.reply-header input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}

.reply-body {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  resize: vertical;
  margin-bottom: 16px;
}

.reply-actions {
  text-align: right;
}

.send-reply-button,
.cancel-reply-button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 8px;
}

.send-reply-button {
  background-color: #007bff;
  color: #fff;
}

.send-reply-button:hover {
  background-color: #0056b3;
}

.cancel-reply-button {
  background-color: #6c757d;
  color: #fff;
}

.cancel-reply-button:hover {
  background-color: #5a6268;
}
.headercard{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #fff;
  background-color: #000;
  
}
select{
  margin: 5px;
}